##  B Stepper - Left
[stepper_x]
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: !X_EN
endstop_pin: toolhead:X_MAX
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  A Stepper - Right
[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: !Y_EN
endstop_pin: Y_MAX
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
position_min: 0
position_endstop: 354
position_max: 354
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Z0 Stepper - Front Left
[stepper_z]
step_pin: Z_STEP
dir_pin: !Z_DIR
enable_pin: !Z_EN
rotation_distance: 4  
microsteps: 32
endstop_pin: Z_MIN
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: 0.5
position_max: 250
position_min: -2.5
homing_speed: 8.0       # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  Z1 Stepper - Rear Center
[stepper_z1]
step_pin: Z1_STEP
dir_pin: !Z1_DIR
enable_pin: !Z1_EN
rotation_distance: 4
microsteps: 32

##  Z2 Stepper - Front Right
[stepper_z2]
step_pin: Z2_STEP
dir_pin: !Z2_DIR
enable_pin: !Z2_EN
rotation_distance: 4  
microsteps: 32