[gcode_macro PRINT_START]
gcode:
    {% set BED = params.BED|default(110)|int %}
    {% set EXTRUDER = params.EXTRUDER|default(250)|int %}

    M117 Heating bed...
    STATUS_HEATING                ; Set Stealthburner RGB
    M190 S{BED}                   ; set final bed temperature and wait for it to be reached
    M104 S{EXTRUDER*1}            ; start preheating hotend to non-ooze temperature prior to homing and mesh
    
    EUCLID_PROBE_BEGIN_BATCH      ; Start Euclid batch mode, to prevent mutiple DEPLOY_PROBE / STOW_PROBE
    
    M117 Homing...
    STATUS_HOMING                 ; Set Stealthburner RGB
    CG28                          ; Home all axes (if necessary)
    
    M117 Leveling...
    STATUS_LEVELING               ; Set Stealthburner RGB
    CZ_TILT_ADJUST                ; Run Z_TILT_ADJUST (if necessary)

    STATUS_CLEANING
    #clean_nozzle
    M117 Calibrate Z... 
    STATUS_CALIBRATING_Z          ; Set Stealthburner RGB
    CALIBRATE_Z                   ; Auto Calibrate Z
    
    EUCLID_PROBE_END_BATCH        ; End Euclid batch mode
    
    
    SET_GCODE_OFFSET Z_ADJUST={params.Z_ADJUST|default(0.0)|float} MOVE=1 # Adjust the G-Code Z offset if needed
    BED_MESH_PROFILE LOAD=default ; load bed mesh

    STATUS_BUSY                   ; Set Stealthburner RGB
    #Purge Line Gcode
    G92 E0
    G90
    G0 X0 Y5 F6000

    M117 Heating extruder...
    STATUS_HEATING                ; Set Stealthburner RGB
    M109 S{EXTRUDER}              ; set final hotend temperature and wait for it to be reached
    
    M117 Purging...
    STATUS_CLEANING               ; Set Stealthburner RGB
    G0 Z2
    G1 E60.0 F300
    M400
    G0 X5 F6000
    G0 Z0.4
    G91
    G1 X130 E30 F1200
    G1 E-.5 F3000                  ; retract slightly to try and reduce stringing
    G1 Z6 F3000                    ; move platform down 6mm
    G92 E0
    G90
    G1 F9000
    M117 Printing...
    STATUS_BUSY                    ; Set Stealthburner RGB

[gcode_macro PRINT_END]
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-60.0 F3600                ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G1 Z{z_safe} F3600             ; move nozzle up
    G1 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    
    G90                            ; absolute positioning
    G1 X175 Y{max_y} F3600          ; park nozzle at rear

    M140 S0                        ; turn heater bed off
    STATUS_CLEANING 
    G4 P30000                      ; wait a little bit (let nozzle ooze)
    TURN_OFF_HEATERS               ; turn off all heaters
    M107                           ; turn off fan              
    BED_MESH_CLEAR                 ; clear bed mesh
    STATUS_READY                   ; Set Stealthburner RGB